body {
	padding-bottom: 100px;
}

.main-menu {
	padding: 20px 0;
	font-size: 20px;
}

.main-menu li {
	border: 1px solid #ccc;
	padding: 10px 20px;
}

th {
	white-space: nowrap;
	outline: none;
	cursor: pointer;
}

tr.redacted a {
	color: #999;
}

tr.push-sent a {
	color: #0A0;
}

.table-striped>tbody>tr.push-sent:nth-of-type(even) {
    background-color: #C3EFC9;
    opacity: 0.6;
}

.table-striped>tbody>tr.push-sent:nth-of-type(odd) {
    background-color: #C6FFCD;
    opacity: 0.6;
}
table.dataTable thead th {
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 18px;
}
table.dataTable thead .sorting {
    background-image: url("images/sort_both.png");
}
table.dataTable thead .sorting_desc {
    background-image: url("images/sort_desc.png");
}
table.dataTable thead .sorting_asc {
    background-image: url("images/sort_asc.png");
}
.sent-warning {
	color: red;
	font-size: 14px;
}

.status {
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 20px;
}

form.update div, form.create div {
	padding: 5px 0;
}

input.text-m {
	width: 600px;
}

textarea.textarea-s {
	width: 600px;
	height: 100px;
}

textarea.textarea-m {
	width: 600px;
	height: 300px;
}

.sharknado, a:hover {
	cursor: url(http://162.246.8.156:5000/static/shark.cur), progress !important;
}

.news_thumbnail, .video_thumbnail  {
	height: 200px;
	padding: 20px 0 10px 0;
}

.create_button {
	float: right;
	border: 1px solid #999;
	padding: 10px 20px;
	font-weight: boldl
}