body {
	padding-bottom: 100px;
}

.main-menu {
	padding: 20px 0;
	font-size: 20px;
}

.main-menu li {
	border: 1px solid #ccc;
	padding: 10px 20px;
}

th {
	white-space: nowrap;
}

tr.redacted a {
	color: #999;
}

tr.sent a {
	color: #0A0;
}



.status {
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 20px;
}

form.update div {
	padding: 5px 0;
}

input.text-m {
	width: 600px;
}

textarea.textarea-s {
	width: 600px;
	height: 100px;
}

textarea.textarea-m {
	width: 600px;
	height: 300px;
}

.sharknado, a:hover {
	cursor: url(http://162.246.8.156:5000/static/shark.cur), progress !important;
}

.video_thumbnail {
	height: 100px;
	padding: 20px 0 10px 0;
}