{% include '_header.html' %}

	<div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/event/list">List of events</a> &rsaquo; {{ event.title }}</div>

{% if updated: %}
	<div class="status">Record updated. {{ msg }}</div>
{% endif %}

	<form class="update" action="/event/{{ event.uuid }}" method="POST">
		<h1>Event: {{ event.title }}</h1>
		<div>
			<div class="fieldname">Title:</div> <input type="text" class="text-m" name="name" value="{{ event.name }}" />
		</div>
		<div>
			<div class="fieldname">Event ID:</div> <input type="text" class="text-m" name="event_id" value="{{ event.event_id }}" />
		</div>
		<div>
			<div class="fieldname">Date:</div> <input type="text" class="text-m" name="date" value="{{ event.date }}" />
		</div>
		<div>
			<div class="fieldname">Start Time:</div> <input type="text" class="text-m" name="start_time" value="{{ event.start_time }}" />
		</div>
		<div>
			<div class="fieldname">Timezone:</div> <input type="text" class="text-m" name="timezone" value="{{ event.timezone }}" />
		</div>
		<div>
			<div class="fieldname">Description:</div> <textarea name="description" class="textarea-m">{{ event.description }}</textarea>
		</div>
		<div>
			<select name="status">
				<option value="1" {% if event.status == 1 %}selected {% endif %} />Visible</option>
				<option value="0" {% if event.status == 0 %}selected {% endif %} />Redacted</option>
			</select>
			<input type="submit" />
		</div>
	</form>

{% include '_footer.html' %}