{% include '_header.html' %}

	<div class="breadcrumb"><a href="/">Home</a> &rsaquo; List of events</div>

	<h1>List of events</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Event Title</th>
				<th>Date & Time</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
{% for event in events: %}
			<tr>
				<td><a href="/event/{{ event.uuid }}">{{ event.title }}</a></td>
				<td>{{ event.start_time }}</td>
				<td>{{ event.venue_city + ', ' + event.venue_state }}</td>
			</tr>
{% endfor %}
		</tbody>
	</table>

{% include '_footer.html' %}