{% include '_header.html' %}

	<div class="breadcrumb"><a href="/">Home</a></div>

	<h1 class="sharknado">Sharknado CMS</h1>
	<ul class="main-menu list-inline">
		<li><a href="/video/list">List Videos</a></li>
		<li><a href="/issue/list">List Issues</a></li>
		<li><a href="/event/list">List Events</a></li>
		<li><a href="/article/list">List Articles</a></li>
		<li><a href="/news/list">List News</a></li>
		<li><a href="/push/list">Push Queue</a></li>
	</ul>

	<img src="http://i.imgur.com/1wBCbQU.jpg" alt="SHARKNADO" class="sharknado" />
{% include '_footer.html' %}