{% include '_header.html' %}

	<div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/issue/list">List of issues</a> &rsaquo; {{ issue.title }}</div>

{% if updated: %}
	<div class="status">Record updated. {{ msg }}</div>
{% endif %}

	<form class="update" action="/issue/{{ issue.uuid }}" method="POST">
		<h1>Issue: {{ issue.title }}</h1>
		<div>
			<div class="fieldname">Title:</div> <input type="text" class="text-m" name="title" value="{{ issue.title }}" />
		</div>
		<div>
			<div class="fieldname">URL:</div> <input type="text" class="text-m" name="url" value="{{ issue.url }}" />
		</div>
		<div>
			<div class="fieldname">Image URL:</div> <input type="text" class="text-m" name="image_url" value="{{ issue.image_url }}" />
		</div>
		<div>
			<div class="fieldname">Site:</div> <input type="text" class="text-m" name="site" value="{{ issue.site }}" />
		</div>
		<div>
			<div class="fieldname">Language:</div> <input type="text" class="text-m" name="lang" value="{{ issue.lang }}" />
		</div>
		<div>
			<div class="fieldname">Body:</div> <textarea name="body" class="textarea-m">{{ issue.body }}</textarea>
		</div>
		<div>
			<div class="fieldname">Body Markdown:</div> <textarea name="body_markdown" class="textarea-m">{{ issue.body_markdown }}</textarea>
		</div>
		<div>
			<div class="fieldname">Description:</div> <textarea name="description" class="textarea-m">{{ issue.description }}</textarea>
		</div>
		<div>
			<select name="status">
				<option value="1" {% if issue.status == 1 %}selected {% endif %} />Visible</option>
				<option value="0" {% if issue.status == 0 %}selected {% endif %} />Redacted</option>
			</select>
			<input type="submit" />
		</div>
	</form>

{% include '_footer.html' %}
