{% include '_header.html' %}
	<div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/news/list">List of news</a> &rsaquo; {{ news.title }}</div>

{% if updated: %}
	<div class="status">Record updated. {{ msg }}</div>
{% endif %}

{% if news.uuid == null %}
	<form class="create" action="/news/create" method="POST">
		<h1>Add News:</h1>
{% else %}
	<form class="update" action="/news/{{ news.uuid }}" method="POST">
		<h1>News: {{ news.title }}</h1>
{% endif %}

{% if news.image_url: %}
		<img src="{{ news.image_url }}" class="news_thumbnail">
{% endif %}
		<div>
			<div class="fieldname">Title:</div> <input type="text" class="text-m" name="title" value="{{ news.title }}" />
		</div>
		<div>
			<div class="fieldname">News Type:</div> <input type="text" class="text-m" name="news_type" value="{{ news.news_type }}" />
		</div>
		<div>
			<div class="fieldname">News Category:</div> <input type="text" class="text-m" name="news_category" value="{{ news.news_category }}" />
		</div>
		<div>
			<div class="fieldname">Published:</div> <input type="text" class="text-m" name="timestamp_publish" value="{{ news.timestamp_publish }}" />
		</div>
		<div>
			<div class="fieldname">News ID:</div> <input type="text" class="text-m" name="news_id" value="{{ news.news_id }}" />
		</div>
		<div>
			<div class="fieldname">Site:</div> <input type="text" class="text-m" name="site" value="{{ news.site }}" />
		</div>
		<div>
			<div class="fieldname">URL:</div> <input type="text" class="text-m" name="url" value="{{ news.url }}" />
		</div>
		<div>
			<div class="fieldname">Image URL:</div> <input type="text" class="text-m" name="image_url" value="{{ news.image_url }}" />
		</div>
		<div>
			<div class="fieldname">Excerpt:</div> <textarea class="textarea-s" name="excerpt">{{ news.excerpt }}</textarea>
		</div>
		<div>
			<div class="fieldname">Body:</div> <textarea class="textarea-m" name="body">{{ news.body }}</textarea>
		</div>
		<div>
			<select name="status">
				<option value="1" {% if news.status == 1 %}selected {% endif %} />Visible</option>
				<option value="0" {% if news.status == 0 or news.status == null %}selected {% endif %} />Redacted</option>
			</select>
			<input type="submit" />
		</div>
	</form>

{% include '_footer.html' %}
