{% include '_header.html' %}
	<div class="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/push/list">Push queue</a> &rsaquo; {{ push.title }}</div>

{% if updated: %}
	<div class="alert {% if alert_type %}{{ alert_type }}{% else %}alert-info{% endif %} alert-dismissible">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
	  {{ msg }}
	</div>
{% endif %}

{% if push.uuid == null %}
	<form class="create" action="/push/create" method="POST">
		<h1>Add Manual Push Notification:</h1>
{% else %}
	<form class="update" action="/push/{{ push.uuid }}" method="POST">
		<h1>Push Notification: {{ push.title }}</h1>
{% endif %}
		<div>
			<div class="fieldname">Alert Text:</div> <input type="text" class="text-m" name="title" value="{{ push.title }}" />
		</div>
		<div>
			<div class="fieldname">Original object Type:</div> <input type="text" class="text-m" name="object_type" value="{{ push.object_type }}" />
		</div>
		<div>
			<div class="fieldname">Original object uuid:</div> <input type="text" class="text-m" name="object_uuid" value="{{ push.object_uuid }}" />
		</div>
		<div>
			<a href="/{{ push.object_type }}/{{ push.object_uuid }}">Original item</a>
		</div>
		<input type="hidden" name="timestamp_creation" value="{{ push.timestamp_creation }}">
		<input type="hidden" name="timestamp_publish" value="{{ push.timestamp_publish }}">
		<div>
			<div class="fieldname">URL:</div> <input type="text" class="text-m" name="url" value="{{ push.url }}" />
		</div>
		<div>
			<div class="fieldname">Body:</div> <textarea class="textarea-m" name="body">{{ push.body }}</textarea>
		</div>
{% if push.status == 2 %}
		<div class="alert alert-success" style="padding: 15px; width: 600px;">This push was sent at: {{ push.timestamp_publish }}</div>
{% endif %}
		<div>
			<select name="status">
				<option value="2" {% if push.status == 2 %}selected {% endif %} />Sent</option>
				<option value="1" {% if push.status == 1 %}selected {% endif %} />Unsent</option>
				<option value="0" {% if push.status == 0 or push.status == null %}selected {% endif %} />Redacted</option>
			</select>
			<br><br>
			<input type="hidden" name="_send_push" value="0">
			<input class="btn btn-default" type="submit" value="Save"/>
{% if push.uuid != null and push.status != 2 %}
			<button class="btn btn-warning" id="push_notification" value=""/>Save and send push notification</button>
{% endif %}
		</div>
	</form>

{% include '_footer.html' %}