{% include '_header.html' %}

	<div class="breadcrumb"><a href="/">Home</a> &rsaquo; List of videos</div>

	<h1>List of videos</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Video Title</th>
				<th>Publish Date</th>
			</tr>
		</thead>
		<tbody>
{% for video in videos: %}
			<tr{% if video.status == 0 %} class="redacted"{% endif %}>
				<td><a href="/video/{{ video.uuid }}">{{ video.title }}</a></td>
				<td>{{ video.timestamp_publish }}</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% set default_sort = 1 %}
{% include '_footer.html' %}